/* Import the google font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custome class */
.font-rubik {
    font-family: 'Rubik Lines', sans-serif;
}

/* Custom background for the left side */
.bg-custom-img {
    background-image: url('/img/steve-busch--u2cn3h8CvA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}